In [58]:
import pandas as pd

In [59]:
# file path
eeg_path = 'Dataset/EEG_data.csv'
demographic_path = 'Dataset/demographic_info.csv'

In [60]:
# load eeg data
eeg_df = pd.read_csv(eeg_path)
eeg_df.head()

,SubjectID,VideoID,Attention,Mediation,Raw,Delta,Theta,Alpha1,Alpha2,Beta1,Beta2,Gamma1,Gamma2,predefinedlabel,user-definedlabeln
0,0.0,0.0,56.0,43.0,278.0,301963.0,90612.0,33735.0,23991.0,27946.0,45097.0,33228.0,8293.0,0.0,0.0
1,0.0,0.0,40.0,35.0,-50.0,73787.0,28083.0,1439.0,2240.0,2746.0,3687.0,5293.0,2740.0,0.0,0.0
2,0.0,0.0,47.0,48.0,101.0,758353.0,383745.0,201999.0,62107.0,36293.0,130536.0,57243.0,25354.0,0.0,0.0
3,0.0,0.0,47.0,57.0,-5.0,2012240.0,129350.0,61236.0,17084.0,11488.0,62462.0,49960.0,33932.0,0.0,0.0
4,0.0,0.0,44.0,53.0,-8.0,1005145.0,354328.0,37102.0,88881.0,45307.0,99603.0,44790.0,29749.0,0.0,0.0

In [61]:
features = [
            'SubjectID', 'VideoID', 
            'Attention', 'Mediation', 
            'Raw', 'Delta', 'Theta', 'Alpha1', 
            'Alpha2', 'Beta1', 'Beta2', 'Gamma1',	
            'Gamma2', 'predefinedConfusion', 'userdefinedConfusion'
            ]

In [62]:
eeg_df.columns  = features

In [63]:
eeg_df.dtypes

SubjectID               float64
VideoID                 float64
Attention               float64
Mediation               float64
Raw                     float64
Delta                   float64
Theta                   float64
Alpha1                  float64
Alpha2                  float64
Beta1                   float64
Beta2                   float64
Gamma1                  float64
Gamma2                  float64
predefinedConfusion     float64
userdefinedConfusion    float64
dtype: object

In [64]:
eeg_df.describe()

,SubjectID,VideoID,Attention,Mediation,Raw,Delta,Theta,Alpha1,Alpha2,Beta1,Beta2,Gamma1,Gamma2,predefinedConfusion,userdefinedConfusion
count,12811.000000,12811.000000,12811.000000,12811.000000,12811.000000,1.281100e+04,1.281100e+04,1.281100e+04,1.281100e+04,1.281100e+04,1.281100e+04,1.281100e+04,1.281100e+04,12811.000000,12811.000000
mean,4.487394,4.390602,41.313871,47.182656,65.570760,6.057853e+05,1.680526e+05,4.138435e+04,3.318339e+04,2.431837e+04,3.814433e+04,2.959255e+04,1.441597e+04,0.479978,0.512606
std,2.865373,2.913232,23.152953,22.655976,597.921035,6.376236e+05,2.441346e+05,7.243082e+04,5.831410e+04,3.837968e+04,7.906606e+04,7.982637e+04,3.603523e+04,0.499618,0.499861
min,0.000000,0.000000,0.000000,0.000000,-2048.000000,4.480000e+02,1.700000e+01,2.000000e+00,2.000000e+00,3.000000e+00,2.000000e+00,1.000000e+00,2.000000e+00,0.000000,0.000000
25%,2.000000,2.000000,27.000000,37.000000,-14.000000,9.806400e+04,2.691750e+04,6.838000e+03,6.852000e+03,6.140000e+03,7.358500e+03,4.058000e+03,2.167500e+03,0.000000,0.000000
50%,4.000000,4.000000,43.000000,51.000000,35.000000,3.954870e+05,8.133100e+04,1.750000e+04,1.495900e+04,1.281800e+04,1.581000e+04,9.763000e+03,5.116000e+03,0.000000,1.000000
75%,7.000000,7.000000,57.000000,63.000000,90.000000,9.166230e+05,2.052760e+05,4.477950e+04,3.455050e+04,2.740600e+04,3.549400e+04,2.488800e+04,1.266950e+04,1.000000,1.000000
max,9.000000,9.000000,100.000000,100.000000,2047.000000,3.964663e+06,3.007802e+06,1.369955e+06,1.016913e+06,1.067778e+06,1.645369e+06,1.972506e+06,1.348117e+06,1.000000,1.000000

In [65]:
# only numeric values
df = eeg_df.apply(pd.to_numeric)

In [66]:
demographic_df = pd.read_csv(demographic_path)
demographic_df.head()

   subject ID   age    ethnicity  gender
0           0    25  Han Chinese       M
1           1    24  Han Chinese       M
2           2    31      English       M
3           3    28  Han Chinese       F
4           4    24      Bengali       M

In [67]:
demographic_df.dtypes

subject ID     int64
 age           int64
 ethnicity    object
 gender       object
dtype: object

In [68]:
demographic_df.describe()

       subject ID        age
count    10.00000  10.000000
mean      4.50000  25.400000
std       3.02765   2.319004
min       0.00000  24.000000
25%       2.25000  24.000000
50%       4.50000  24.500000
75%       6.75000  25.000000
max       9.00000  31.000000

In [69]:
# changing the name
demographic_df.columns = ['SubjectId', 'Age', 'Ethnicity', 'Gender']

In [70]:
# gender F = 0 | M = 1
demographic_df['Gender'] = demographic_df['Gender'].map({'F': 0, 'M': 1})

In [71]:
demographic_df.dtypes

SubjectId     int64
Age           int64
Ethnicity    object
Gender        int64
dtype: object